* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #cdcdcd;
    height: 50px;
    width: 100%;
}

.heading {
    background-color: #cdcdcd;
    height: 50px;
    width: 50%;
    margin: 30px auto;
}

.hero-section {
    height: 500px;
    width: 100%;
    position: relative;
}

.section-one,
.section-two {
    height: 400px;
    width: 49%;
    background-color: #cdcdcd;
    float: left;
}

.section-two {
    float: right;
}

.grid-container {
    width: 97%;
    height: 100dvh;
    margin: 0 auto;


}

.box-container {
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.box {
    height: 41%;
    width: 21%;
    margin: 1%;
    background-color: #cdcdcd;
    display: inline-block;
}

.section-three {
    background-color: #cdcdcd;
    padding: 3rem 1rem;
    overflow: hidden;
}

.card {
    background-color: white;
    width: 30%;
    float: left;
    margin: 1.5%;
    height: 600px;
}

.card-heading,
.card-action,
.card-footer {
    background-color: #cdcdcd;
    margin: 15px;
}

.card-heading {
    height: 50px;
}

.card-action {
    height: 50%;
}

.card-footer {
    height: 31%;
}

.section-four {
    margin: 3rem 10%;
}

.s4-heading {
    width: 100%;
    max-width: 400px;
    height: 50px;
    margin: 0 auto 2rem;
    background-color: #cdcdcd;
}

.s4-content {
    width: 100%;
    max-width: 600px;
    height: 40px;
    margin: 12px auto;
    background-color: #cdcdcd;
}

.s4-major {
    width: 100%;
    max-width: 600px;
    height: 100px;
    margin: 12px auto;
    background-color: #cdcdcd;
}

.s4-buttons {
    width: 100%;
    max-width: 600px;
    height: 50px;
    margin: 12px auto;
}

.s4-button {
    width: 49%;
    height: 100%;
    background-color: #cdcdcd;
    float: left;
    margin-right: 2%;
}

.s4-button:last-child {
    margin-right: 0;
}

.footer {
    background-color: #cdcdcd;
    height: 250px;
    width: 100%;
    position: relative;
    margin-top: 30px;
}

.footer-one,
.footer-two {
    position: absolute;
    top: 13px;
    height: 227px;
    width: 49%;
    background-color: white;
}

.footer-one {
    left: 0.5%;
}

.footer-two {
    right: 0.5%;
}